*{
    margin: auto;
    font-family: serif;
  }
  
  body{
    background-image: url(texture.jpg);
    margin: auto;
    background-attachment: fixed;
  
    
  }

  nav {
    background-color: #729343;
    font-weight: 200;
  }
  
  .dropdown-menu{
    background-color:#5b7535
  }
  
  .dropdown-item{
    color:white;
  }
  
  .dropdown-item:hover{
    background-color: #aabe8e;
    
  }
  